$colors: (
  blue: (
    background: #0000ff,
    color: #fff
  ),
  pink: (
    background: #0000ff,
    color: #fff
  ),
    grey: (background: #0000ff,
    color: #fff),
  green: (
    background: #0000ff,
    color: #fff
  ),
  orange: (
    background: #0000ff,
    color: #fff
  ),
  purple: (
    background: #0000ff,
    color: #fff
  ),
  inverted: (
    background: #0000ff,
    color: #fff
  )
);
