$colors: (
  blue: (
    background: #000000,
    color: #66A8CC
  ),
  pink: (
    background: #000000,
    color: #ed3093
  ),
  grey: (
    background: #000000,
    color: #ccc
  ),
  green: (
    background: #000000,
    color: #a5c047
  ),
  orange: (
    background: #000000,
    color: #f17d3a
  ),
  inverted: (
    background: #ffffff,
    color: #000000
  )
);
