$all-colors: map-merge($colors, $custom-colors);

@each $theme, $pallet in $all-colors {
  $color: map-get($pallet, color);
  $background: map-get($pallet, background);
  // We need to do the extra quotes in the $theme interpolation to silence some warnings.
  // The SCSS compiler seems to think we're trying to use the pallet names as a color value.  ¯\_(ツ)_/¯
  .vjs-theme-colors-#{""+ $theme} {
    color: $color;

    .vjs-control-bar, .vjs-big-play-button, .vjs-menu-content {
      @include background-color-with-alpha($background, 0.7);
    }

    .vjs-load-progress {
      @include background-color-with-alpha($color, 0.5);
    }

    .vjs-play-progress {
      background-color: $color;
    }

    .vjs-slider {
      @include background-color-with-alpha($color, 0.4);
    }

    .vjs-volume-level {
      background-color: $color;
    }

    .vjs-big-play-button,
    .vjs-big-play-button:focus,
    &:hover .vjs-big-play-button {
      border-color: $color;
    }

    .vjs-menu-button ul li.vjs-selected {
      background-color: $background;
    }
    .vjs-menu-button ul li:focus,
    .vjs-menu-button ul li:hover,
    .vjs-menu-button ul li.vjs-selected:focus,
    .vjs-menu-button ul li.vjs-selected:hover {
      color: $background;

      @include background-color-with-alpha($color, 0.75);
    }
  }
}
